body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #272728, #6edfdf);
}

span{
    color: red;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 25px;
    width: 40%;
    background: black;
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 30px 40px -15px;
}
input{
    outline: none;
    border: none;
    padding: 5px;
}
button{
    color: white;
    padding: 10px;
    border: 2px solid white;
    background: black;
    display: block;
    margin-top: 10%;
    cursor: pointer;
}
